<!doctype html>
<html>
    <head>
        <title>Influensers in Corovavirus research</title>
        <style type="text/css">
            html, body {
                font: 16pt arial;
            }

            #viz {
                  position:absolute;
                  top:5px;
                  right:5px;
                  bottom:5px;
                  left:200px;
                border: 1px solid lightgray;
                font: 22pt arial;
            }
        </style>
         <script type="text/javascript">
        var viz;
        var cypher = {{query_dict.test|tojson}};
        concole.log(cypher)
        function draw() {
            var config = {
                container_id: "viz",
                server_url: "bolt://localhost:7687",
                server_user: "neo4j",
                server_password: "1Ucuofficial!",
                labels: {
                    "Author": {
                        "caption": "name",
                        "size": "pagerank",
                        "community": "community",
                        "title_properties": [
                            "name",
                            "institution",
                            "laboratory",
                            "country"
                        ]
                    }
                },
                relationships: {
                    "Linked": {
                        "thickness": "weight",
                        "caption": false
                    }
                },
                initial_cypher: cypher
            };

            viz = new NeoVis.default(config);
            viz.render();
        }
    </script>
        <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
    </head>

    <body onload="draw()">
        <div id="viz"></div>


    </body>
</html>